.container{
    background-color: var(--bgExtraSoft);
    padding: 20px;
    display: flex;
    flex-direction: column; 
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    
}

.container:hover{
    background-color: var(--bgSoft);
}

.title{
    font-weight: 200;
    color:white;
}

.table{
    width: 100%;
}

.table td{
    padding: 10px;
}

.tableTitle{
    font-weight: bold;
}

.table tbody{
    font-weight: 200;
}
