.container{
    display: flex;
    
}

.menu{
    position: fixed;
    flex:1;
    background-color: var(--bgSoft);
    padding: 40px;
    min-height: 100vh;
}

.content{
    flex:5;
    margin-left: 360px;
}

.wrapper{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.main{
    flex: 4;
    border-radius: 10px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.userDetails{
    display: flex;
    gap: 20px;
    justify-content: space-between; 
}

.input {
    border: none;
    text-decoration: none;
    font-weight: bold;
    width: 200px; 
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

