.container{
    background-color: var(--bgExtraSoft);
    border-radius: 10px;
    margin: 20px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1vw;
    padding-left: 1vw;

}

.addBicycleButton{
    border-radius: 10px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    padding: 15px;
    margin: 5px 0px;
    border: none;
    color: var(--bgSoft);
    text-decoration: none;

}

.input{
    border: 2px solid rgba(255, 255, 255, 0.121);
}

.addBicycleButton:hover{
    background-color: var(--green);
    color: white;
}

.table td{
    padding: 10px;
}

.table{
    padding: 1vw;

    width: 100%;
    gap: 10px;
    align-items: center;
    
}


.viewButton{
    border-radius: 10px;
    border: 3px solid #ffff;
    gap: 10px;
    background-color: var(--bgExtraSoft);
    color: white;
    padding: 10px;
    cursor: pointer;
    
}
    
.viewButton:hover{
        background-color: var(--green);
        color: white;
}

.banner{
    height: 200px;
    width: 100%;
    padding: 0;
    background-color: #213233;
    margin-bottom: 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(2, 161, 65, 0.3)), url('/bicyclepage.jpeg');
    background-size: cover;
    background-position: 50% 70%;
}

.table tbody{
    font-weight: 200;
}



