.container{
    background-color: var(--bgExtraSoft);
    border-radius: 10px;
    margin: 20px;

}

.form{
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
    padding: 1vw;

}

.form input, .form textarea, .form select{
    border: none;
    background-color: var(--bgSoft);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.form input, .form select, .form label{
    width: 100%;
    
}
.form textarea{
    width: 100%;
}

.submitButton{
    border-radius: 10px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    color: var(--bgSoft);
    width: 50%;
    text-decoration: none;
    margin: auto;
    margin-top: 20px;
    
}

    
.submitButton:hover{
        background-color: var(--green);
        color: white;
}

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.banner{
    height: 200px;
    width: 100%;
    padding: 0;
    background-color: #213233;
    margin-bottom: 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(2, 161, 65, 0.3)), url('/settingspage.jpg');
    background-size: cover;
    background-position: 50% 30%;
}