.container{
    background-color: var(--bgExtraSoft);
    border-radius: 10px;
    margin: 20px;

}

.form{
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
    padding: 1vw;

}

.form input, .form textarea, .form select{
    border: none;
    background-color: var(--bgSoft);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


.submitButton{
    border-radius: 10px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    color: var(--bgSoft);
    width: 50%;
    text-decoration: none;
    margin: auto;
    margin-top: 20px;
    
}

    
.submitButton:hover{
        background-color: var(--green);
        color: white;
}


.banner{
    height: 200px;
    width: 100%;
    padding: 0;
    background-color: #213233;
    margin-bottom: 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(2, 161, 65, 0.3)), url('/settingspage.jpg');
    background-size: cover;
    background-position: 50% 30%;
}

.checkboxContainer {
    display: flex;
    margin-bottom: 1vw;
    align-items: center;
    justify-content: flex-start;
}

.checkboxContainer {
    display: flex;
    margin-bottom: 1vw;
    align-items: center;
    justify-content: flex-start;
}
.form .toggle {
    height: 20px;
    margin-right: 10px;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    appearance: none;

}

.form input, .form select, .form textarea, .form label textarea{
    border: 2px solid rgba(255, 255, 255, 0.121);
}

.form .toggle:checked {
    background: var(--green);
}